/node_modules
/public/hot
/public/storage
/public/comprobantes
/public/tmp
/storage/*.key
/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
storage/framework/sessions/bWm2S9ZqoXPWfTuTJGWT0EAHZ3tkRZTGaz39n2Q9
